myfile.log
../.bash_history
        ../.bash_logout
        ../.bash_profile
        ../.bashrc
        ../.cache/
        ../.config/
        ../.gitconfig
        ../.gtkrc-2.0
        ../.local/
        ../.pki/
        ../.var/
        ../.viminfo
        ../.vscode/
        ../Desktop/
        ../newtst.tar.gz
        ../newtst.zip
        ../newudhanshu.sh
        ../nohup.out
        ../softconfirmtxt.txt
        ../test.txt
        ../udhanshu.txt
        ../visual-studio-code-bin/